# OS
thumbs.db
.DS_Store

# Internal references, dependencies, temporary folders & files
.env
**/__ref__/
*.log
*.lock
*.db
*.parquet

# Docker
/docker_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
pytest.xml
.ipynb_checkpoints
venv/

# pip
**/build/

# pytest-cov
**/coverage.xml
**/.coverage*
/junit
/htmlcov
/coverage.xml

# ruff
.ruff_cache/

# jest-cov
**/coverage/*

# JavaScript
**/node_modules/
**/logs
